# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Repo owner
* @fhinkel

# Kokoro
.kokoro @fhinkel
.kokoro/appengine @michaelawyu
.kokoro/functions @ace-n @grant

# Serverless/CBR
appengine @michaelawyu
functions @ace-n @grant
run @GoogleCloudPlatform/cdpe-cbr-containers

# Other functions samples
functions/composer-storage-trigger @leahecole
functions/scheduleinstance @djmailhot
functions/speech-to-speech @ricalo
functions/dialogflow @nnegrey

# One-offs
cloud-sql @kurtisvg
healthcare @noerog
iot @gguuss
jobs @happyhuman
