# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

# Repo owner
* @GoogleCloudPlatform/nodejs-docs-samples-owners

# Kokoro
.kokoro @GoogleCloudPlatform/nodejs-docs-samples-owners
.kokoro/appengine @engelke @ace-n @GoogleCloudPlatform/nodejs-docs-samples-owners
.kokoro/functions @ace-n @GoogleCloudPlatform/nodejs-docs-samples-owners

# Serverless/CBR
appengine @engelke @ace-n @GoogleCloudPlatform/nodejs-docs-samples-owners
functions @ace-n @GoogleCloudPlatform/nodejs-docs-samples-owners
run @GoogleCloudPlatform/cdpe-cbr-containers @GoogleCloudPlatform/nodejs-docs-samples-owners

# Other functions samples
functions/scheduleinstance @askmeegs @GoogleCloudPlatform/nodejs-docs-samples-owners
functions/speech-to-speech @ricalo @GoogleCloudPlatform/nodejs-docs-samples-owners
functions/memorystore @ericschmidtatwork @GoogleCloudPlatform/nodejs-docs-samples-owners
functions/spanner @jsimonweb @GoogleCloudPlatform/nodejs-docs-samples-owners

# SoDa teams
/cloud-sql/**/*.js @GoogleCloudPlatform/infra-db-dpes @GoogleCloudPlatform/nodejs-docs-samples-owners
/datastore/**/*.js @GoogleCloudPlatform/cloud-native-db-dpes @GoogleCloudPlatform/nodejs-docs-samples-owners

# One-offs
composer @leahecole @sofisl @yoshi-nodejs @GoogleCloudPlatform/nodejs-docs-samples-owners
healthcare @noerog @GoogleCloudPlatform/nodejs-docs-samples-owners
monitoring/opencensus @yuriatgoogle @GoogleCloudPlatform/nodejs-docs-samples-owners

