// Copyright 2015-2016, Google, Inc.
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//    http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

doctype html
html
  head
    title= title
    script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
  body
    h1 Hello World!
    p Express.js + Bower on Google App Engine.
    hr
    p Using <span id="module-name"></span>, installed via Bower.
    script(type='text/javascript').
      $('#module-name').text('jquery')
     
