doctype html
html(lang='en')
  head
    title PubSub
    meta(charset='utf-8')
  body
    p Messages received by this instance:
    ul
      each val in messages
        li= val
    p
      small.
        Note: because your application is likely running multiple instances,
        each instance will have a different list of messages.

    //- [START form]
    form(method='post')
      textarea(name='payload', placeholder='Enter message here.')
      button(type='submit') Send
    //- [END form]
