doctype html
head
    meta(charset='utf-8')
    title Brunch with ES6 running on Google App Engine
    script(src='/app.js')
    script.
      require('initialize');
  body
    #app
      h1 Hello World!
