doctype html
html
  head
    title= title
  body
    h1 Hello World!
    p Express.js + Webpack on Google App Engine.
    hr
    p Loaded module <span id="module-name"></span> via Webpack.
    script(type='text/javascript', src='app.js')
