# Copyright 2023 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: functions-helloworld
on:
  push:
    branches:
    - main
    paths:
    - 'functions/helloworld/**'
    - '.github/workflows/functions-helloworld.yaml'
    - '.github/workflows/test.yaml'
  pull_request:
    paths:
    - 'functions/helloworld/**'
    - '.github/workflows/functions-helloworld.yaml'
    - '.github/workflows/test.yaml'
  pull_request_target:
    types: [labeled]
    paths:
    - 'functions/helloworld/**'
    - '.github/workflows/functions-helloworld.yaml'
    - '.github/workflows/test.yaml'
  schedule:
  - cron:  '0 0 * * 0'
jobs:
  test:
    permissions:
      contents: 'read'
      id-token: 'write'
    if: github.event.action != 'labeled' || github.event.label.name == 'actions:force-run'
    strategy:
      matrix:
        path:
          - 'functions/helloworld/helloError'
          - 'functions/helloworld/helloGCS'
          - 'functions/helloworld/helloPubSub'
          - 'functions/helloworld/helloworldGet'
          - 'functions/helloworld/helloworldHttp'
    uses: ./.github/workflows/test.yaml
    with:
      name: 'functions-helloworld'
      path: '${{ matrix.path }}'
  remove_label:
    permissions:
      contents: 'read'
      id-token: 'write'
    if: github.event.action == 'labeled' && github.event.label.name == 'actions:force-run' && always()
    uses: ./.github/workflows/remove-label.yaml
  flakybot:
    permissions:
      contents: 'read'
      id-token: 'write'
    if: github.event_name == 'schedule' && always()
    uses: ./.github/workflows/flakybot.yaml
    needs: [test]
